*{
  word-wrap: break-word;
}

.explore{
    width:100%;
    margin-top:4%;
}

.explore .expo{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    margin:0 9rem 0 9rem;
}

.main-expo{
    text-align: center;
    font-weight: bold;
    font-size:36px;
    text-transform: uppercase;
    color:rgba(120,120,120,1);
}
.expo-line{
    margin-top:5px;
background:red;
width:8rem; 
height:5px;
left:50%;
transform: translate(-50%);
position: absolute;
}

.explore .expo  div{

    flex:1 1rem;
    height:auto;
    border-radius:5px;
    box-shadow:1px 1px 1px 1px rgba(220,220,220,1);
    margin:1.3rem;
    cursor: pointer;
}

.explore .expo div img{
 width:100px;
 height:100px;
 left:50%;
 transform: translate(-50%);
 position: relative;
 margin-top:1rem;
   }

.explore .expo div p{
 text-align:center;
    color:gray;
    padding: 0.5rem 0 0.5rem 0;
}

.explore .expo  .xnnn{
    margin:1rem;
    height:auto;
    border-radius:0;
box-shadow:none;
}

.explore .expo  .xnnn p{
    padding:5px 5px 2px 5px;
    color:rgba(70,70,70,1);
    text-align:justify;
    line-height:1.4rem;
    font-size: 15px;
}



.explore .expo  .xnnn p a
{
 cursor: pointer;
text-decoration: none;
padding:5px;
border-radius:2px;
font-weight: bold;
font-size:15px;
  }


  .explore .expo  .xnnn p a:hover
  {
   color:rgba(256,0,0,0.8);
    }

   .explore .expo .xnnn .zoom{
    width:100%;
    height:125px;
    margin:0;
    padding: 0;
    overflow: hidden;
    border-radius: 0;
    box-shadow: none;
   }
.explore .expo .xnnn img,video{
    outline: none;
   width:100%;
  height:125px;
    margin-top:0;
    cursor:pointer;
         transition: all 0.4s ease;
      }

      .explore .expo .xnnn img:hover{
          outline: none;
          width:110%;
          height:130px;
      }

      .explore .expo .xnnn video{
         height:130px;
      }
 .explore .expo .xnnn video:hover{
   height:135px;
   width:101%;
}

.more{
    text-decoration:none;
    left:12.2%;
    transform: translate(-12.2%);
    position: relative;
    margin-top:0;
    font-weight:bold;
    font-size:18px;
    cursor: pointer;
}
.more:hover{
    color:rgba(256,0,0,0.8);
}
.appx{
  background: white;
}


/*scroll Indicator*/
      .progress-container {
        width: 100%;
        height: 6px;
        background:rgba(80,80,80,0.1);
        z-index: 1;
        position: fixed;
      }
      
      .progress-bar {
        height: 6px;
        background:  #4caf50;
        width: 0%;
      }

/*Custom Scroll Bar*/
/* width */
::-webkit-scrollbar {
    width: 13px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(168, 166, 166); 
  }
  
