/*
* I AM AN NITIAN
* v1.0
* Start Date : May 17 2019
* Developer : Shubham Maurya
* National Institute Of Technology Srinagar J&K India 190006
* GitHub : https://github.com/pnstech
* LinkedIn : https://www.linkedin.com/in/cyberthreatatnit/
*/


@font-face {
	font-family: "got";
	src: url("fonts/Game of Thrones.ttf");
	}
	
	*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family:'Dosis',sans-serif;
	
	}

	#loader{
		width:100%;
		height:100vh;
		background:#DfDfDf url('loader.gif');
		background-repeat: no-repeat;
		background-position: center;
		background-size:20rem;
		position: fixed;
		z-index:555;
	}

	#loader p{
		position:fixed;
		bottom:24px;
		font-size:13px;
	    letter-spacing:0.7px;
		font-family:sans-serif;
		font-weight:bold;
		color:rgba(0,0,0,0.8);
		text-align:center;
		left:49%;
		transform:translate(-49%);
		text-align:justify;
	}
	
	.wrapper{
	width:100%;
	height:100%;
	position:absolute;
	
	}
	
	.wrapper .banner{
	width:100%;
	height:98%;
	background:linear-gradient(rgba(256,256,256,0.05),rgba(256,256,256,0.05)), 
	url(peopleyc.jpg) 100% 100% no-repeat;
	background-size:cover;
	-webkit-clip-path: polygon(0% 0%, 100% 0, 100% 90%, 50% 100%, 0 89%);
	clip-path: polygon(0% 0%, 100% 0, 100% 90%, 50% 100%, 0 89%);
	background-attachment:fixed;
	background-position:center;
	}
	
	.banner .textx{
		top:50%;
		left:50%;
		transform:translate(-50%,-50%);
		position:absolute;
		width:100%;
		text-align:center;
	}
	
	.dynamic-text
	{
		font-weight:bold;
		font-size:40px;
		font-family:sans-serif;
		color:rgba(256,256,256,0.9);
		letter-spacing:1.5px;
		padding-bottom:20px;
	}
	.text{
		color:rgba(256,0,0,0.9);
		font-weight:bold;
		font-size:46px;
		text-align:center;
		font-family:sans-serif;
		letter-spacing:2px;
	}
	
	
	.textx .msg{
		text-transform:uppercase;
		color:rgba(256,256,256,0.9);
		font-size:41px;
		font-family:sans-serif;
		font-weight:bold;
		padding-bottom:30px;
	}
	
	.join{
		text-transform:uppercase;
		color:rgba(255,255,255,0.8);
		background:transparent;
		padding:6.5px 70px;
		border:2px solid rgba(255,255,255,0.8);
		border-radius:22px;
		font-size:16.5px;
		font-weight:bold;
		letter-spacing:1.6px;
		font-family:sans-serif;
		box-sizing:border-box;
		cursor:pointer;
	}
	
	.join:hover{
		background:rgb(255,0,0);
		border:2px solid rgb(255,0,0);
		color:rgba(255,255,255,0.8);
		transition: 0.2s;
	}
	
	.banner .textx .social{
		margin-top:2%;
		
	}
	.banner .textx .social a{
		text-decoration: none;
		padding:4px;
	}
	.banner .textx .social a img{
		cursor: pointer;
		width:38px;
		height:38px;
		border-radius: 50%;
	    padding:4px;
		background:rgba(256,256,256,0.9);
		box-shadow:2px 2px 2px 1px rgba(256,0,0,0.2);
	}
	.banner .textx .social img:hover{
		background:red;
		transition:0.3s;
		box-shadow:2px 2px 2px 1px rgba(256,0,0,0.1);
	}
	
	.center{
		top:95%;
		left:50%;
		transform:translate(-50%,-95%);
		position:absolute;
	}
	.down{
		position:relative;
		width:32px;
		height:60px;
		border-radius:25px;
		background:transparent;
		border:2px solid rgba(255,255,255,0.7);
		overflow:hidden;
	}
	
	.down:before{
		content:'';
		position:absolute;
		width:6px;
		height:6px;
		border-radius:50%;
		background:#fff;
		left:50%;
		top:10px;
		transform:translate(-50%,0);
		animation:animate 1.2s linear infinite;
	}
	
	.down:after{
		content:'';
		position:absolute;
		width:5px;
		height:14px;
		border-radius:50%;
		background:rgba(255,255,255,0.8);
		left:50%;
		top:5px;
		transform:translate(-50%,0);
		border-radius:3px;
	}
	
	@keyframes animate{
		0%{
			transform:translate(-50%,20px);
			opacity:0.8;
		}
		
		50%{
			transform:translate(-50%,60px);
			opacity:0.8;
		}
		
		100%{
			transform:translate(-50%,100px);
		}
	}
	
	.about,.contact-us{
		margin-top:5%;
		display:flex;
		 flex-direction:row;
		  width:80%;
		left:50%;
		transform: translate(-50%);
		position: relative;
		height: 300px;
		background:rgba(255,247,198,0.3);
	}
	.about .about-img{
		margin-right:4%;
		flex: 55%;
		align-items: center;
		justify-content: center;
		display: flex;
		height: 300px;
	}
	.about .about-text{
		height: 300px;
		flex: 45%;
		align-self:center;
		padding-right:1rem;
		}
	
	.about div  p
	{ 
		letter-spacing:0.7px;
		font-size:17px;
		line-height:34px;
		word-spacing:0.8px;
		font-family:sans-serif;
		
	}
	
	 .datad{
		width:100%;
		background: rgba(0,0,0,0.8);
		box-shadow:1px 0 1px 0 rgba(0,0,0,0.6);
		padding-top: 1.2rem;
		padding-bottom: 1.2rem;
      
	  }
	   .datad p{
	  text-align:center;
	  font-family: sans-serif;
	  color:rgba(256,256,256,0.7);
	  font-size:16px;
	  font-weight: normal;
	  letter-spacing:0.7px;
	  }
	   .datad .x{
		   font-family: xxx;
		letter-spacing: 0;
		  margin-bottom:12px;
	  font-size: 24px;
	  text-transform:uppercase;
	  font-weight:bold;
	  text-align:center;
	  }
	
	.container{
		background:rgba(0,0,0,0.9);
		width:100%;
	padding-top:1.6rem;
	padding-bottom:1.6rem;
	}
	
	.container p{
		font-size:12.3px;
	   letter-spacing:0.8px;
		font-family:sans-serif;
		font-weight:bold;
		color:rgba(256,256,256,0.7);
		text-align:center;
	}
	

	
	.gallary {
		width:100%;
		height:90%;
		margin-top:8%;
	}
	
	.gallary .mySlides{
		left:50%;
		transform:translate(-50%);
		position:relative;
		width:80%;
		height:90%;
	}
	
	@media (max-width:991px)
	{
		
	.gallary .mySlides{
			height:45%;
			width:95%;
		}
		
		.gallary{
			margin-top:-50%;
		}
		header{
		padding:0 20px;
		}
		
	/*For dynamic Texts*/
	.dynamic-text
		{
			
			font-size:25px;
			font-family:sans-serif;
			text-align:center;
			
		}
		
		.text
		{
			font-family:sans-serif;
			text-align:center;
			 font-size:25px;
		}	
		.textx .msg{
			font-size:32px;
		}
		.join{
		color:rgba(255,255,255,0.8);
		background:transparent;
		padding:6px 45px;
		border:2px solid rgba(255,255,255,0.8);
		border-radius:20px;
		font-size:15px;
		letter-spacing:1.4px;
		
	}
	
	}
	.contact .cnt-box{
	height:100%;
	box-sizing:border-box;
	}
	
	
.datay{
	background:rgba(0,0,0,0.9);
	width:100%; 
	display:flex;
	align-items: center;
	justify-content: center;
}
.datay div{
   flex-basis: 12rem;
 margin:1.5rem;
 height:200px;
 color:white;
 font-family: sans-serif;
}

.datay div a{
text-decoration: none;
color:rgba(256,256,256,0.7);
	 }

	 .datay div a:hover
	 {
		color:rgba(256,256,256,1);
	 }
	

.datay div p{
line-height:2rem;
padding-left:10px;
font-size:14.2px;
letter-spacing: 0.7px;
 }

 .datay div .y{
	 letter-spacing: 0.8px;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color:rgba(256,256,256,0.7);
 }

 .datay div .linex{
	 width:3rem;
	 height:3px;
	 background:rgba(255,165,0,0.55);
	 margin:0;
	margin-left:0.6rem;
 }

 .app{
	background: rgba(0,0,0,0.8);
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow:1px 0 1px 0 rgba(0,0,0,0.6);
 }
 .app div{
	 flex:1 1 5rem;
	 width:100%;
 }
 .app div p{
 font-family: xx;
 font-size:40px;
 text-align: center;
 font-weight:bold;
 color:rgba(256,256,256,0.7);
}
footer{
	margin-top:5%;
}

.app div img{
	left:50%;
	transform: translate(-50%);
	position: relative;
   }

.app div button{
	background:rgba(256,0,0,0.9);
	font-size:18px;
	border:none;
	margin-top:5%;
	width:12rem;
	height:38px;
	left:50%;
	transform: translate(-50%);
	position: relative;
	border-radius:20px;
	font-family: xxx;
	color:rgba(256,256,256,0.8);
	cursor:pointer;
}

/*back to top button*/
#back-to-top{
	z-index:1445;
	bottom:20px;
	right:20px;
	position:fixed;
	font-size:26px;
	width:45px;
	height:45px;
	color:rgba(0,0,0,0.9);
	background:rgba(256,256,256,0.8);
	cursor:pointer;
	outline:none;
	border: 3px solid rgba(0,0,0,01);
	border-radius:50%;
	transition-duration:0.2s;
	transition-timing-function: ease-in-out;
	transition-property: background-color, color;
	display:none;
}
 
#back-to-top:hover, #back-to-top:focus{
	color:rgba(0,0,0,1);
	background-color: rgba(256,256,256,1);
}

@media (max-width: 768px)
{
	#back-to-top{
		font-size:18px;
		width:32px;
	}
}

/*Zoom in*/
.btnEntrance{
	animation-duration: 0.5s;
	animation-fill-mode: both;
	animation-name:btnEntrance;
}

@keyframes btnEntrance
{
	from{
		opacity:0;
		transform:scale3d(0.3,0.3,0.3);
	}
	to{
		opacity:1;
	}
}
/*Zoom Out*/
.btnExit{
	animation-duration: 0.25s;
	animation-fill-mode: both;
	animation-name:btnExit;
}

@keyframes btnExit
{
 from{
	 opacity:1;
 }
 to{
	 opacity:0;
	 transform:scale3d(0.3,0.3,0.3);
 }
}

/** This property is not compatible with all the browsers so try to use js*/
html{
	scroll-behavior: smooth;
	overflow-x: hidden;
}