.news{
    margin-top:5%;
    display: flex;
    width:100%;
    height:auto;
    justify-content: center;
    padding: 0;
}

.news .side-left{
   flex:1 1 10%;
}

.news .mid{
   background: transparent;
   flex:1 1 50%;
   display: flex;
   flex-direction: column;
   padding: 0.6rem;
   border:2px solid rgba(120,120,120,0.7);
}

.news .mid div{
    margin:2px;
     display: flex;
     flex-direction:row;
}

.news .mid .xxx{
   border:1px solid rgba(120,120,120,0.6);
   margin:6px;
}

.mid button{
   outline:none;
   border:none;
   border-radius:4px;
   padding:8px;
   width:35%;
   left:50%;
   transform: translate(-50%);
   position: relative;

   margin-top:10px;
   background:#4CAF50;
   font-size:15px;
   cursor: pointer;
   color:white;
   font-weight: bold;
}

.news .mid .n-image{
width:8rem;
height:8rem;
margin-right:10px;
 }

 .news .mid .n-article{
color:rgba(60,60,60,1);
width:80%;
height:8rem;
padding: 10px;
text-align:justify;
line-height:1.5rem;
background:rgba(230,230,230,01);
font-size: 15px;
 }

 .news .mid .n-article p a
 {
  cursor: pointer;
text-decoration: none;
padding:5px;
border-radius:2px;
font-weight: bold;
font-size:15px;
   }

   .mid .n-head{
      color:rgba(80,80,80,1);
      font-size:25px;
      font-weight:bold;
      text-align: center;
      margin:10px 0 10px 0;
      text-transform: uppercase;
   }

   .news .mid .n-article p a:hover
 {
  color:rgba(256,0,0,0.6);
   }

 .news .mid img{
   width:100%;
   height:100%;
    padding:1px;
    /*Zoom effect*/
    -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
 }

.news .mid img:hover{
   cursor:pointer;
   width:105%;
   height: 105%;
   padding:0 2px 7px 0;
}

.news .side-right{
   height:526px;
   flex:0 0  25%;
padding:0.6rem 0.8rem 0 0.2rem;
   background: transparent;
   border:2px solid rgba(120,120,120,0.7);
   display: flex;
flex-direction: column;  
margin:0 9rem 0 6rem;
}
.news .side-right .yyy{
   color:rgba(80,80,80,1);
   font-size:25px;
   font-weight:bold;
   text-align: center;
   margin:10px 0 10px 0;
   text-transform: uppercase;
}

.news .side-right .updates{
background: transparent;
width:100%;
left:50%;
transform: translate(-50%);
position: relative;
padding: 0.2rem;
border:1px solid rgba(60,60,60,0.6);
margin: 5px;
}

.updates .n-update{
   color:rgba(60,60,60,1);
   width:100%;
   height:6rem;
   padding: 10px;
   text-align:justify;
   line-height:1.5rem;
   background:rgba(240,240,240,1);
   font-size: 15px;
}
@media (max-width:721px)
{
   .news
   {
    flex-direction:column;
  }

  .news .mid
   {
    border:none;
  }

  .news  .mid div
  {
   flex-direction:column;
   width:100%;

}

.news .mid .xxx
{
   border:2px solid rgba(120,120,120,1);
   padding-right:10.2px;
}

.news  .mid .n-image
  {
   width:100%;
}

.news .mid .n-article
{
   width:100%;
   height:10rem;
}
  
.mid button{
   width:50%;
}

}


/*Blinker*/

.updates .n-update span{
   background-image: linear-gradient(-45deg, rgba(256,0,0,1), rgba(247, 202, 24, 1), rgba(0,256,0,1));;
   border-radius:48%;
   padding:1px 7px 2px 7px;
   color:blue;
   font-size:14px;
   font-style:italic;
   /*blinking new text*/
              animation-name:blinker;
              animation-duration:1s;
              animation-timing-function: linear;
              animation-iteration-count: infinite;
              text-transform: capitalize;
   }
   
          @keyframes blinker
          {
              0%{opacity:1.0}
              50%{opacity:0.3}
              100%{opacity:1.0}
          }