/*
* I AM AN NITIAN
* v1.0
* Start Date : May 17 2019
* Developer : Shubham Maurya
* National Institute Of Technology Srinagar J&K India 190006
* GitHub : https://github.com/pnstech
* LinkedIn : https://www.linkedin.com/in/cyberthreatatnit/
*/

body{
 overflow-x:hidden;
}
.cnt-box span{
background-image: linear-gradient(-45deg, rgba(256,0,0,1), rgba(247, 202, 24, 1), rgba(0,256,0,1));;
border-radius:40%;
padding:0 5px 0 5px;
color:blue;
font-size:17px;
/*blinking new text*/
           animation-name:blinker;
           animation-duration:1s;
           animation-timing-function: linear;
           animation-iteration-count: infinite;
}

       @keyframes blinker
       {
           0%{opacity:1.0}
           50%{opacity:0.5}
           100%{opacity:1.0}
       }
/*------------------------*/

 #mySidenav{
float:right;
}
#mySidenav a {
  position: absolute;
  right: -15px;
  transition: 0.2s;
  width: 10px;
  padding:20px 28px 0 25px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 4px 0 0 4px;
  letter-spacing:0.2px;
}

 #mySidenav a:hover {
  right:-10px;
}

#feedback{
top:150%;
  background-color: #4CAF50;
  height:120px;
  cursor: pointer;
}

#feedback span {
	transform: rotate(90deg);
	transform-origin: left 0;
	float: left;
	font-family:sans-serif;
	font-weight:bold;
	font-size:17px;
}


/* feedback popup*/

.popup{
            background:transparent;
            width:100%;
            height: 100%;
            position:absolute;
            top:120%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            text-align: center;
           display: none;
        }

        .popup .popup-content{
            height:auto;
            width:500px;
            background: rgba(0,0,0,0.97);
            padding:20px;
            border-radius:5px 0 0 5px;
            position:relative;
        }

      
        .popup .popup-content p{
           font-size:28px;
           font-family:xxx;
           color:rgba(256,256,256,0.9);
           font-weight:bold;
        }


     .popup .popup-content   input,.textarr{
      background:rgba(256,256,256,0.9);
               margin:20px auto;
            display:block;
            width:70%;
            padding: 8px;
            border: 0.1px solid rgba(0,0,0,0.9);
           font-size:18px;
          font-family: serif;
          text-align: center;
          border-radius:7px;
          color:rgba(0,0,0,0.9);
        }

      

        .popup .popup-content .close{
            top:5px;
            left:5px;
            position:absolute;
            border-radius:50%;
            box-shadow: 6px 6px 29px -4px rgba(0,0,0,0.75);
            cursor:pointer;
        }

        .popup .popup-content .btn-send{
          background:rgba(256,0,0,1);
              text-transform: uppercase;
              cursor:pointer;
              color:white;
        }


        /*Signup popup*/

        .signup{
          background: rgba(0,0,0,0.7);
          width:100%;
          height: 100vh; /*it covers entire verrical height(full screen)*/
          top:0;
          position: fixed;
          z-index: 555;
          display: flex;
          justify-content: center;
          align-items: center;
           }

           .signup .sign-card{
               box-shadow:5px 5px 5px 5px rgba(0,0,0,0.9);
               background:rgba(230,230,230,1);
                width:60%;
               height:90%;
               display:flex;
               top:50%;
               left:50%;
               transform: translate(-50%,-50%);
               position: relative;
               border-radius:0.4%;
             }
             
             .sign-card div{
               flex-basis: 50%;
             }

             .sign-card .sign-img{
               display:flex;
             }
            
             .sign-card .sign-img .links{
              flex-basis: 100%;
              border-right:1px solid rgba(200,200,200,1);
             }

             

             .sign-card .sign-img div ul {
               margin:14% 3% 0 3%;
             padding:2%;
             border-radius: 5px;
             background: rgba(200,200,200,1);
             box-shadow: 0 5px 5px 0 rgba(230,230,230,1);
             }
             .sign-card .sign-img .links ul li{
             list-style-type:none;
             border: 1px solid rgba(170,170,170,1);
             text-align: center;
             border-radius: 5px;
             padding:2%;
             margin: 3px;
             background: rgba(230,230,230,1);
             cursor: pointer;
            }

            .sign-card .sign-img .links ul a li{
              text-decoration:none;
              font-family: sans-serif;
              font-size: 15px;
              color:rgba(80,80,80,1);
             }
             .sign-card .sign-img .links ul a {
              text-decoration:none;
             }
             .sign-card .sign-img .links ul a li:hover{
             background: white;
             transition: 0.2s;
             }

             .sign-card .sign-img div .p1{
             font-family: sans-serif;
             font-size:18px;
             font-weight: bold;
             color:rgba(80,80,80,1);
             background: rgb(0,255,255);
             -webkit-clip-path: polygon(76% 0, 0 0, 0 44%, 79% 45%, 54% 23%);
             clip-path: polygon(76% 0, 0 0, 0 44%, 79% 45%, 54% 23%);
             padding:4.5% 0 22% 8%;
             
            }
            .sign-card .sign-img div .p2{
              text-decoration: none;
              text-align: center;
              font-family:sans-serif;
              margin-top:28%;
            }
            .sign-card .sign-img div .p2 a{
              text-decoration: none;
              font-size:16px;
              letter-spacing: 0.7px;
              cursor: pointer;
              color:rgba(110,110,110,1);
            }
            .sign-card .sign-img div .p2 a:hover{
              color:red;
             transition: 0.2s;
            }

             .sign-card .sign-form .cancel{
              width:21px;
              height:21px;
              border-radius:50%;
             float:right;
             margin:6px 6px 0 0;
              cursor:pointer;
              opacity:0.9;
             }

             .sign-card .sign-form div{
                display: flex;
                flex-direction: column;
                padding-top:1.5rem;
                align-items: center;
                }
                .sign-card .sign-form div input,select{
                  margin:5px;
                  width:80%;
                  padding:10px 0 10px 2px;
                  outline: none;
                  border:none;
                  border-bottom: 1px solid rgba(170,170,170,1);
                  background: transparent;
                  font-size:15px;
                  font-family: sans-serif;
                  color:rgba(100,100,100,1);
                  letter-spacing:0.6px;
                  }
                  
                  .sign-card .sign-form div button{
                    width:80%;
                    margin-top:2rem;
                    padding:10px;
                    background:#4CAF50;
                    border:none;
                    border-radius:4px;
                    font-size:17px;
                    color:white;
                    font-family: sans-serif;
                    cursor: pointer;
                  }

                  .sign-card .sign-form div a{
                    text-decoration: none;
                    font-family: sans-serif;
                    margin-top:15px;
                    font-size:14px;
                    letter-spacing:0.6px;
                    cursor: pointer;
                  }
                  .sign-card .sign-form div a:hover{
                    color:red;
                    transition: 0.3s;
                  }
                  
             .sign-card .sign-form  p{
              color:rgba(80,80,80,1);
              font-size:31px;
              font-weight:bold;
              font-family:sans-serif;
              text-align: center;
              margin-top:35px;
              text-transform: uppercase;
            }

            /*Login Popup*/
            .login{
              background: rgba(0,0,0,0.7);
              width:100%;
              height: 100vh; 
              top:0;
              position: fixed;
              z-index: 555;
              display: flex;
              justify-content: center;
              align-items: center;
            }

            .login .log-card{
              box-shadow:5px 5px 5px 5px rgba(0,0,0,0.9);
              background:rgba(230,230,230,1);
              width:33%;
              height:48%;
              display:flex;
              flex-direction:column;
              border-radius:1.3%;
              top:50%;
              left:50%;
              transform: translate(-50%,-50%);
              position: relative;
            }
            .login .log-card div
            {
              flex-basis: 70%;
              padding:2% 10% 0 10%;
            }
            .login .log-card div input
            {
              margin:10px;
              width:90%;
              padding:10px 2px 10px 2px;
              outline: none;
              border:none;
              border-bottom: 1px solid rgba(170,170,170,1);
              background: transparent;
              font-size:15px;
              font-family: sans-serif;
              color:rgba(100,100,100,1);
              letter-spacing:0.6px;
            }

            .login .log-card p{
              color:rgba(80,80,80,1);
              font-size:31px;
              font-weight:bold;
              font-family:sans-serif;
              text-align: center;
              margin-top:10px;
              text-transform: uppercase;
            }
            .login .log-card div button{
              width:90%;
              margin:2rem 0 0 10px;
              padding:10px;
              background:#4CAF50;
              border:none;
              border-radius:4px;
              font-size:17px;
              color:white;
              font-family: sans-serif;
              cursor: pointer;
            }

            .login .log-card .cancel-log
            {
               width:21px;
              height:21px;
              border-radius:50%;
              margin:6px 0 0 6px;
              cursor:pointer;
              opacity:0.8;
            }