body{
    background:rgba(120,120,120,1);
    margin:0;
    padding:0;
}
button{
    width:11rem;
    padding:0.7rem;
    border-radius:22px;
    border:none;
    outline:none;
    background:linear-gradient(90deg, rgb(236, 58, 58), rgb(66, 66, 230))
   ;cursor:pointer;
   color:white;
   top:20rem;
   left:12rem;
   position: absolute;
   font-family: sans-serif;
   text-transform:uppercase;

}
button:hover{
    background:linear-gradient(90deg, rgb(66, 66, 230), rgb(236, 58, 58)); 
}
p{
    top:14rem;
   left:2.5rem;
   position: absolute;
    text-transform: uppercase;
    font-size:30px;
    font-weight: bold;
    font-family: sans-serif;
    color:white;
}
.panel{
    width:50%;
    height:100vh;
    background:rgba(210,210,210,1);
    z-index: -1;
    transform:scaleY(0);
    bottom:0;
    right:0;
    position: absolute;
    transform-origin: bottom;
}